/* Seteo de archivos */

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-align: center;
}
/* Estilos Reutilizables */
body, html{
    overflow-x:hidden;
}

ul, ol {
    margin     : 0;
    padding    : 0;
    list-style : none
}
/*IMAGES*/
img {
    width: 100%;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.no-padding {
    padding: 0;
}
ul, ol {
    margin     : 0;
    padding    : 0;
    list-style : none
}


ul.list-check {
    
}

ul.list-check li{
    position: relative;
    font-size: 18px;
    line-height: 32px;
}
ul.list-check li::before {
    content: "\f00c";
    font-family: fontawesome;
    color: #68c3a3;
    margin-right: 10px;
}


.section-padding {
	padding: 120px 0 100px;
}


.section-title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #2c3e50;
    position: relative;
}

.section-title::after {
    content: "";
    background: url(../assets/images/section-divider.png) no-repeat 0 0;
    height: 15px;
    width: 113px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: 0 auto;
}



/* Estilos Generales */

body {
	font-family: 'Open Sans', sans-serif;
	width:100%;
}
.first-section {
	color:#fff;
}

/* Estilos nav */  

.header {
    border-bottom: 1px solid #eee;
    position: relative;
    width: 100%;
    z-index: 998;
    padding-bottom: 1px;
    background: #fff;
}

.header::after {
    border-bottom:1px solid #eee;
    width: 100%;
    position: absolute;
    content: "";
    height: 2px;
    bottom: 1px;
    left: 0;
}

.navbar-custom {
    border: 0;
    border-radius: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}


.navbar-custom,
.navbar-custom .dropdown-menu {
    background: #fff;
    padding: 0;
}

.navbar-custom ul li a span{
    margin-left:5px;
}

.navbar-custom .dropdown-menu {
    margin-top:10px;
    display: block;
    visibility: hidden;
    opacity:0;
    border: 1px solid #ddd;
    border-top: 2px solid #68c3a3;
    border-radius: 0;
    border-bottom: 3px double #ddd;
    background-color: #FFFFFF;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition:all 400ms;
}

.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}
.navbar-custom .navbar-nav > li:hover .dropdown-menu{
    display: block;
    opacity:1;
    visibility: visible;
    margin-top:-2px;
}

.navbar-custom .navbar-nav > li > a{
    color: #282828;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.navbar-custom .dropdown-menu > li{
    border-bottom: 1px solid #F0F0F0;
}

.navbar-custom .dropdown-menu > li:last-child{
    border-bottom: 0;
}

.navbar-custom .dropdown-menu > li > a {
    padding: 10px 20px;
    color: #282828;
    font-size: 14px;
    font-weight: 700;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active > a {
    background: none;
    outline: 0;
    color: #68c3a3;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 18px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
    background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #222;
}


/* Home Section */

#home {
    width:100%;
    height: 637px;
	background: url(../images/home2.jpg) no-repeat center center;
	-webkit-background-attachment: fixed;
    background-attachment: fixed;
	background-color: #222;
	background-size: cover;
	padding: 0;
	position: relative;
}
#home:before {
	content: "";
	background-color: rgba(26, 30, 35, 0.85);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	padding: 0 15px;
}

.intro h1{
    margin-top: 0;
	font-size: 60px;
	line-height: 80px;

	color: #52b3d9;
}
.intro h1 span{
	color: #68c3a3;
}
.intro p{
	color: #f7f7f7;
    margin-bottom: 40px;
    font-size: 22px;
}

.intro-sub {
	color: #fff;
	font-size: 30px;
	line-height: 32px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	padding:10em 2em 5em 2em;
}

/* About Section */

.short-info {
    margin-bottom: 40px;
}

.short-info h3 {
    margin-bottom: 30px;
}

.short-info ul {
    margin-top: 10px;
    display:inline-block;
}
.short-info ul li {
    width: 50%;
    float: left;
}

.my-signature{
    margin-bottom: 45px;
}
.my-signature img{
    width: inherit;
}


/*download-button*/
.download-button a {
    margin-right: 20px;
    color: #fff;
}
.download-button a i {
    margin-right: 10px;
}


.biography{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid #EEEEEE;
    position: relative;
}

.biography::after{
    content: "";
    border-bottom: 1px solid #EEEEEE;
    position: absolute;
    bottom: -3px;
    width: 100%;
    border-radius: 10px;
    height: 20px;
}

.myphoto{
    position: relative;
    background: url(../assets/images/photo-frame.png) bottom center no-repeat;
    background-size: contain;
}

.myphoto img{
    position: relative;
    z-index: -1;
}

.biography ul{
    padding:25px 20px 30px;
}

.biography ul li{
    padding:5px 0;
    font-size: 16px;
    border-bottom:1px solid #EEEEEE;
}

.biography ul li:last-child{
    border-bottom:0;
}

/* Estilos Projects Section */

/*--- PORTFOLIO ---*/
.content-section .thumbnail { position: relative; overflow: hidden; cursor: pointer; }
.content-section .thumbnail * { transition: all .25s; }
.content-section .thumbnail h4 { font-size: 19px; font-weight: 400; }
.content-section .thumbnail p { line-height: 24px; }
.content-section .thumbnail:hover h4, .content-section .thumbnail:hover p { color: #AFAFAF; }
.content-section .thumbnail:hover img { opacity: 0.25;  }
.content-section .thumbnail:after { font-family: 'FontAwesome'; content: '\f121'; color: #FFF; font-size: 48px; line-height: 80px; top: 70%; position: absolute; text-align: center; display: inline-block; width: 100%; transition: all .35s; opacity: 0; width: 86px; height: 86px; margin-left: auto; margin-right: auto; left: 0; right: 0; border-radius: 50%; background: transparent; border:3px solid transparent; }
.content-section .thumbnail:hover:after { top: 25%; opacity: 1; color: #FFFFFF; background: #AF6204; border:3px solid #FFFFFF; }


/*--- CONTACT ---*/
.hire-section {
    background: url(../assets/images/hire-bg.jpg) no-repeat top center #68C3A3;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;  
}
.hire-section-bg {
    padding: 110px 0;
    background: -webkit-linear-gradient(bottom, #68C3A3, rgba(104, 195, 163, 0.7)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Fx 3.6-15*/
    background: linear-gradient(to top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Standard*/
}

.hire-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.hire-section .btn {
    padding: 9px 54px;
}

.contact-section  {
  
}

.contact-section strong {
    display: block;
    text-transform: uppercase;
}
.contact-form strong {
    margin-bottom: 40px;
}

.contact-form textarea.form-control {
    height: 115px;
}

.contact-form .btn {
    margin-top: 15px;
}

.contact-section div > i{
    float: left;
    font-size: 45px;
    margin-right: 20px;
}
.contact-section address,
.contact-section .contact-number {
    overflow: hidden;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 45px
}

/* Footer */
.footer-wrapper {
    background: #1a1e23;
    padding: 36px 0;
    color: #fff;
  
}
.copyright p {
    margin: 0;
}

/* Scroll to top */

.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 1.8em;
	right: 1.8em;
}

.scroll-up a {
	background-color: #68c3a3;
	display: block;
	width: 28px;
	height: 28px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 28px;
}

.scroll-up a:hover,
.scroll-up a:active {
	background-color: rgba(235, 235, 235, .8);
	color: #222;
}
